<!-- empresas-colaboradoras.component.html -->
<header>
    <h1>Bolsa de Empleo ULEAM</h1>
    <nav>
        <ul>
            <li><a routerLink="/paginainicio">Atras</a></li>
            <li><a routerLink="/busqueda">Búsqueda de Empleos</a></li>
            <li><a routerLink="/eventos">Eventos y Talleres</a></li>
            <li><a routerLink="/ofertas-exclusivas">Ofertas Exclusivas</a></li>
            <li><a routerLink="/historial">historial de postulaciones</a></li>
            <li><a routerLink="/redessocialesycontacto">Redes Sociales y Contacto</a></li>
            <!-- Agrega enlaces a otras secciones -->
        </ul>
    </nav>
</header>

<section id="contenido">
    <h2>Empresas Colaboradoras</h2>

    <!-- Aquí se mostrarán las empresas colaboradoras -->
    <div id="empresas-colaboradoras">
        <ul>
            <li *ngFor="let empresa of empresasColaboradoras">
                <strong>{{ empresa.titulo }}</strong> - Empresa: {{ empresa.empresa }}, Ubicación: {{ empresa.ubicacion }}, Contacto: {{ empresa.contacto }}, Correo: {{ empresa.correo }}
                <button (click)="postularse(empresa.titulo, empresa.empresa)">Postularse</button>
            </li>
        </ul>
    </div>
</section>

<footer>
    <p>&copy; 2023 Bolsa de Empleo ULEAM. Todos los derechos reservados.</p>
</footer>
