<!-- ofertas-exclusivas.component.html -->
<header>
  <h1>Bolsa de Empleo ULEAM</h1>
  <nav>
      <ul>
        <li><a routerLink="/paginainicio">Atras</a></li>
        <li><a routerLink="/busqueda">Búsqueda de Empleos</a></li>
        <li><a routerLink="/empresas">Empresas Colaboradoras</a></li>
        <li><a routerLink="/eventos">Eventos y Talleres</a></li>
        <li><a routerLink="/historial">Historial de Postulaciones</a></li>
        <li><a routerLink="/redessocialesycontacto">Redes Sociales y Contacto</a></li>
          <!-- Agrega enlaces a otras secciones -->
      </ul>
  </nav>
</header>
<section id="contenido">
    <h2>Ofertas Exclusivas</h2>
  
     <!-- Mostrar las ofertas exclusivas -->
  <div *ngFor="let oferta of ofertasExclusivas">
    <h3>{{ oferta.titulo }}</h3>
    <p>{{ oferta.empresa }}</p>
    <button (click)="postularse(oferta.titulo, oferta.empresa)">Postularse</button>
  </div>
  </section>
  