<header>
    <h1>Bolsa de Empleo ULEAM</h1>
    <nav>
        <ul>
            <li><a routerLink="/paginainicio">Atras</a></li>
            <li><a routerLink="/empresas">Empresas Colaboradoras</a></li>
            <li><a routerLink="/eventos">Eventos y Talleres</a></li>
            <li><a routerLink="/ofertas-exclusivas">Ofertas Exclusivas</a></li>
            <li><a routerLink="/historial">historial de postulaciones</a></li>
            <li><a routerLink="/redessocialesycontacto">Redes Sociales y Contacto</a></li>
            <!-- Agrega enlaces a otras secciones -->
        </ul>
    </nav>
</header>

<section id="contenido">
    <h2>Búsqueda de Empleos</h2>
    <form #busquedaForm="ngForm" (ngSubmit)="buscarEmpleo(busquedaForm.value.titulo, busquedaForm.value.empresa, busquedaForm.value.ubicacion)">
        <label for="titulo">Título del Trabajo:</label>
        <input type="text" id="titulo" name="titulo" ngModel required>

        <label for="empresa">Nombre de la Empresa:</label>
        <input type="text" id="empresa" name="empresa" ngModel required>

        <label for="ubicacion">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion" ngModel required>

        <button type="submit">Buscar Empleo</button>
    </form>

    <!-- Mostrar resultados -->
    <div *ngIf="resultados.length > 0">
        <h3>Resultados:</h3>
        <ul>
            <li *ngFor="let empleo of resultados">
                {{ empleo.titulo }} en {{ empleo.empresa }}, ubicado en {{ empleo.ubicacion }}.
            </li>
        </ul>
    </div>
</section>

<footer>
    <p>&copy; 2023 Bolsa de Empleo ULEAM. Todos los derechos reservados.</p>
</footer>
