/* Reset de estilos básicos */
body, h1, h2, p, ul, li, form {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: auto;
}

/* Reset de estilos básicos */
body, h1, h2, p, ul, li, form {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: auto;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #283048, #859398);
  color: #fff;
  overflow-y: auto;   /* Agregar scroll vertical cuando sea necesario */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* ... (el resto del código) */


/* Estilos del formulario de registro */
#registro {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background-color: rgba(127, 167, 167, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  animation: fadeInUp 1s ease;
}

#registro h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

#registro form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #333;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

input:focus {
  border-color: #555;
  transform: scale(1.02);
}

select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

select:focus {
  border-color: #555;
  transform: scale(1.02);
}

button {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover {
  background-color: #555;
  transform: scale(1.1);
}

p {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: underline;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

/* Animaciones */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/* ... (el código anterior) */

/* Estilos del formulario de registro (continuación) */
#registro button {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

#registro button:hover {
  background-color: #555;
  transform: scale(1.1);
}

#registro p {
  margin-top: 20px;
  text-align: center;
}

#registro a {
  color: #fff;
  text-decoration: underline;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

/* Animaciones */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* ... (el resto del código) */


/* Estilos del formulario de registro */
#registro {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background-color: rgba(127, 167, 167, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  animation: fadeInUp 1s ease;
}

#registro h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

#registro form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #333;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

input:focus {
  border-color: #555;
  transform: scale(1.02);
}

select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

select:focus {
  border-color: #555;
  transform: scale(1.02);
}

button {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover {
  background-color: #555;
  transform: scale(1.1);
}

p {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: underline;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

/* Animaciones */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/* ... (el código anterior) */

/* Estilos del formulario de registro (continuación) */
#registro button {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

#registro button:hover {
  background-color: #555;
  transform: scale(1.1);
}

#registro p {
  margin-top: 20px;
  text-align: center;
}

#registro a {
  color: #fff;
  text-decoration: underline;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

/* Animaciones */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
