<section id="registro">
  <h1>Registro de Usuario</h1>
  <form id="register-form">
      <label for="cedula">Número de cédula:</label>
      <input type="text" id="cedula" name="cedula" pattern="[0-9]{10}" required>

      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" name="apellidos" pattern="[A-Za-z ]{1,30}" required>

      <label for="nombres">Nombres:</label>
      <input type="text" id="nombres" name="nombres" pattern="[A-Za-z ]{1,30}" required>

      <label for="fechaNacimiento">Fecha de nacimiento (dd/mm/aaaa):</label>
      <input type="text" id="fechaNacimiento" name="fechaNacimiento" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/aaaa" required>

      <label for="sexo">Sexo:</label>
      <select id="sexo" name="sexo" required>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
      </select>

      <label for="estadoCivil">Estado civil:</label>
      <select id="estadoCivil" name="estadoCivil" required>
          <option value="soltero">Soltero(a)</option>
          <option value="casado">Casado(a)</option>
          <option value="viudo">Viudo(a)</option>
          <option value="divorciado">Divorciado(a)</option>
          <option value="unionLibre">Unión Libre</option>
      </select>

      <label for="conyuge">Nombre de cónyuge (en caso de estar casado(a)):</label>
      <input type="text" id="conyuge" name="conyuge" pattern="[A-Za-z ]{1,30}">

      <label for="numHijos">Número de hijos:</label>
      <input type="number" id="numHijos" name="numHijos" min="0" required>

      <label for="ciudad">Ciudad:</label>
      <input type="text" id="ciudad" name="ciudad" pattern="[A-Za-z ]{1,50}" required>

      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" maxlength="60" required>

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" required>

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" autocomplete="email" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" autocomplete="current-password" required>

      <label for="discapacidad">Discapacidad:</label>
      <select id="discapacidad" name="discapacidad" required>
          <option value="si">Sí</option>
          <option value="no">No</option>
      </select>

      <button type="submit">Registrarse</button>
  </form>
  <p>¿Ya tienes una cuenta? <a href="index.html">Inicia sesión</a>.</p>
</section>