/* login.component.css */

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Contenedor del formulario de inicio de sesión */
#inicio-sesion {
  background-color: #3498db;
  color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  width: 80%;
  max-width: 400px;
}

/* Títulos y etiquetas */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 10px;
}

/* Campos de entrada */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Botón de inicio de sesión */
button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}

/* Enlace de registro */
p a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  transition: color 0.3s ease;
}

p a:hover {
  color: #c0392b;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  border-radius: 10px;
}

/* Animación de entrada del formulario */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Aplicar animación al formulario */
#inicio-sesion {
  animation: fadeIn 0.5s ease-in-out;
}
