<!-- login.component.html -->
<section id="inicio-sesion">
  <div class="login-container">
    <h1>Bolsa de Empleo ULEAM</h1>
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>

      <button class="login-btn" (click)="login()">Iniciar Sesión</button>
    </form>
    <p>¿No tienes una cuenta? <button class="register-btn" (click)="goToRegister()">Regístrate aquí</button>.</p>
  </div>
</section>
<footer>
  <p>&copy; 2023 Bolsa de Empleo ULEAM. Todos los derechos reservados.</p>
</footer>
