
<header>
    <h1>Bolsa de Empleo ULEAM</h1>
    <nav>
        <ul>
            <li><a routerLink="/busqueda">Búsqueda de Empleos</a></li>
            <li><a routerLink="/empresas">Empresas Colaboradoras</a></li>
            <li><a routerLink="/eventos">Eventos y Talleres</a></li>
            <li><a routerLink="/ofertas">Ofertas Exclusivas</a></li>
            <li><a routerLink="/historial">Historial de Postulaciones</a></li>
            <li><a routerLink="/redessocialesycontacto">Redes Sociales y Contacto</a></li>
        </ul>
        <!-- Agregamos el botón de Cerrar Sesión -->
        <button id="cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</button>
    </nav>
</header>

<section id="contenido">
    <h2>Bienvenido a la Bolsa de Empleo ULEAM</h2>
    <p>Conectando a graduados con oportunidades laborales excepcionales.</p>

    <!-- Información breve -->
    <div id="informacion-breve">
        <p>Nuestra misión es facilitar la transición de los graduados al mundo laboral, proporcionando recursos y conexiones valiosas.</p>
    </div>

    <!-- Estadísticas o Logros -->
    <div id="estadisticas">
        <p>Hasta ahora, hemos ayudado a <strong>1000+</strong> graduados a encontrar empleo.</p>
    </div>

    <!-- Testimonios -->
    <div id="testimonios">
        <blockquote>
            "Gracias a la Bolsa de Empleo ULEAM, encontré mi trabajo soñado. ¡Altamente recomendado!"
            <footer>- Ana, Graduada en Ingeniería</footer>
        </blockquote>
    </div>

    <!-- Noticias o Actualizaciones -->
    <div id="noticias">
        <h3>Últimas Noticias</h3>
        <ul>
            <li><a href="https://www.uleam.edu.ec/oferta-de-cuarto-nivel-2023-2/">OFERTA DE CUARTO NIVEL 2023-2</a></li>
            <li><a href="https://www.uleam.edu.ec/oferta-academica-de-tercer-nivel-2023-2/">Oferta académica de tercer nivel 2023-2</a></li>
            <li><a href="https://www.uleam.edu.ec/convocatoria-a-concurso-publico-de-meritos-y-oposicion-para-vincular-personal-academico/">Convocatoria a Concurso Público de Méritos y Oposición para vincular personal académico</a></li>
        </ul>
    </div>

    <!-- Enlaces Rápidos -->
    <div id="enlaces-rapidos">
        <h3>Enlaces Rápidos</h3>
        <ul>
            <li><a href="busqueda.html">Búsqueda de Empleos</a></li>
            <li><a href="empresas.html">Empresas Colaboradoras</a></li>
            <li><a href="eventos.html">Eventos y Talleres</a></li>
            <li><a href="historial.html">historial de postulaciones</a></li>
        </ul>
    </div>
    
</section>
<footer>
    <p>&copy; 2023 Bolsa de Empleo ULEAM. Todos los derechos reservados.</p>
</footer>
      
