<!-- redes-sociales.component.html -->
<header>
    <h1>Bolsa de Empleo ULEAM</h1>
    <nav>
        <ul>
            <li><a routerLink="/paginainicio">Atras</a></li>
            <li><a routerLink="/busqueda">Búsqueda de Empleos</a></li>
            <li><a routerLink="/empresas">Empresas Colaboradoras</a></li>
            <li><a routerLink="/eventos">Eventos y Talleres</a></li>
            <li><a routerLink="/historial">historial de postulaciones</a></li>
            <li><a routerLink="/ofertas-exclusivas">Ofertas Exclusivas</a></li>
            <!-- Agrega enlaces a otras secciones -->
        </ul>
    </nav>
</header>

<!-- redes-sociales.component.html -->
<section id="contenido">
    <h2>Redes Sociales y Contacto</h2>
  
    <!-- Mostrar los enlaces a redes sociales y la información de contacto -->
    <div id="redes-y-contacto">
      <ul>
        <li *ngFor="let red of redesYContactoSimulados">
          <a *ngIf="red.tipo !== 'Correo Electrónico'" [href]="red.enlace" target="_blank">{{ red.tipo }}</a>
          <a *ngIf="red.tipo === 'Correo Electrónico'" [href]="red.enlace">{{ red.tipo }}</a>
        </li>
      </ul>
    </div>
  </section>
  

<footer>
    <p>&copy; 2023 Bolsa de Empleo ULEAM. Todos los derechos reservados.</p>
</footer>
