
<header>
    <h1>Bolsa de Empleo ULEAM</h1>
    <nav>
        <ul>
            <li><a routerLink="/paginainicio">Atras</a></li>
            <li><a routerLink="/empresas">Empresas Colaboradoras</a></li>
            <li><a routerLink="/busqueda">Busqueda</a></li>
            <li><a routerLink="/ofertas-exclusivas">Ofertas</a></li>
            <li><a routerLink="/historial">historial de postulaciones</a></li>
            <li><a routerLink="/redessocialesycontacto">Redes Sociales y Contacto</a></li>
            <!-- Agrega enlaces a otras secciones -->
        </ul>
    </nav>
</header>

<section id="contenido">
    <h2>Eventos y Talleres</h2>
  
    <!-- Aquí se mostrarán los eventos y talleres -->
    <div id="eventos-talleres">
      <ul>
        <li *ngFor="let evento of eventosTalleres">
          <strong>{{ evento.nombre }}</strong> - Fecha: {{ evento.fecha }}, Ubicación: {{ evento.ubicacion }}
        </li>
      </ul>
    </div>
  </section>

<footer>
    <p>&copy; 2023 Bolsa de Empleo ULEAM. Todos los derechos reservados.</p>
</footer>


