<!-- historial-postulaciones.component.html -->
<header>
    <h1>Bolsa de Empleo ULEAM</h1>
    <nav>
        <ul>
            <li><a routerLink="/paginainicio">Atras</a></li>
            <li><a routerLink="/busqueda">Búsqueda de Empleos</a></li>
            <li><a routerLink="/empresas">Empresas Colaboradoras</a></li>
            <li><a routerLink="/eventos">Eventos y Talleres</a></li>
            <li><a routerLink="/ofertas">Ofertas Exclusivas</a></li>
            <li><a routerLink="/redessocialesycontacto">Redes Sociales y Contacto</a></li>
        </ul>
        <!-- Agregamos el botón de Cerrar Sesión -->
    </nav>
</header>
<h2>Mi Historial de Postulaciones</h2>

<!-- Contenido de la página de historial -->
<div *ngIf="postulaciones.length === 0; else historialContent">
  <p>No has realizado ninguna postulación.</p>
</div>

<ng-template #historialContent>
  <ul>
    <li *ngFor="let postulacion of postulaciones; let i = index">
      <strong>{{ postulacion.titulo }}</strong> en {{ postulacion.empresa }}
      <button (click)="eliminarPostulacion(i)">Eliminar</button>
    </li>
  </ul>
</ng-template>
